/* Attribute list ------------------------------ */

.attributes {
  margin: 0 0 21px;

  &_content {
    background-color: $c-slate-40;
    padding: 16px;
  }
  &_item {
    padding: 0;
    padding-bottom: 8px;

    &.name {
      white-space: nowrap;
      padding-right: 32px;
    }
    &.description {
      width: 100%;
    }
  }
}