$c-gray-900:        #111827;
$c-gray-800:        #1F2937;
$c-gray-700:        #374151;
$c-gray-600:        #4B5563;
$c-gray-500:        #6B7280;
$c-gray-400:        #9CA3AF;
$c-gray-300:        #D1D5DB;
$c-gray-200:        #E5E7EB;
$c-gray-100:        #F3F4F6;
$c-gray-50:         #F9FAFB;
$c-gray-40:         #F9FAFB;

$c-slate-900:       #111827;
$c-slate-800:       #1F2937;
$c-slate-700:       #374151;
$c-slate-600:       #4B5563;
$c-slate-500:       #6B7280;
$c-slate-400:       #9CA3AF;
$c-slate-300:       #D1D5DB;
$c-slate-200:       #E5E7EB;
$c-slate-100:       #F3F4F6;
$c-slate-50:        #F9FAFB;
$c-slate-40:        #F9FAFB;

$c-yellow:          #FBBF24;
$c-orange:          #F97316;
$c-blue:            #0284C7;
$c-green:           #059669;
$c-red:             #DC2626;
