---
layout: broadcast/content.hbs
preheader: While we do not expect any service interruptions...
---
<div class="line line--blue"></div>

<h1>[Scheduled] Upcoming maintenance</h1>
<p>While we do not expect any service interruptions, we are running maintenance behind the scenes during this period. We'll keep you updated as things progress.</p>

<ul>
  <li>Database Performance Improvements</li>
  <li>Network Secuerty Upgrades</li>
</ul>

<p>Again, we don't expect any downtime, and hope to continue running services as normal.</p>

<p class="sub">Posted 28 days ago. Jun 24, 2021 - 12:48 UTC</p>

<table class="body-sub" role="presentation">
  <tr>
    <td>
        <h2>Schedule</h2>

        <table class="attributes collapse-bottom" width="100%" cellpadding="0" cellspacing="0" role="presentation">
          <tr>
            <td class="attributes_container">
              <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                  <td class="attributes_item name"><strong>Begins At:</strong></td>
                  <td class="attributes_item description">Jul 22, 21:00 UTC</td>
                </tr>
                <tr>
                  <td class="attributes_item name"><strong>Duration:</strong></td>
                  <td class="attributes_item description">1 hour</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>

<table class="body-sub" role="presentation">
  <tr>
    <td>
        <h2>Affected Components</h2>

        <div class="components">
            <div class="component">Application</div>
            <div class="component">Database</div>
            <div class="component">REST API</div>
        </div>

        <a href="https://f7ea7fba.sorryapp.com/">View the full incident &rarr;</a>
    </td>
  </tr>
</table>

<table class="body-sub" role="presentation">
  <tr>
    <td>
      <p class="sub">You received this email because you are subscribed to Example Inc's service status notifications. <a href="http://subscribe.sorryapp.com/f7ea7fba/email/6c41441d/unsubscribe">Change Preferences</a> or <a href="http://subscribe.sorryapp.com/f7ea7fba/email/6c41441d/unsubscribe">Unsubscribe</a></p>
    </td>
  </tr>
</table>
