---
layout: broadcast/content.hbs
preheader: {{ update.content }}
---
<h1>[Investigating] CWA Policy and Scan Issue</h1>
<p>We are aware of CWA customers experiencing the following issues:</p>

<ul>
  <li>Policies and Scan profiles not visible on UI</li>
  <li>CWA Scans not working</li>
</ul>

<p>Please note that all other aspects of our Cloud Workload Assurance service remain functional. We are investigating this issue and will provide an update as soon as more information becomes available.</p>

<p class="sub">Posted 28 days ago. Jun 24, 2021 - 12:48 UTC</p>

<h2>Affected Components:</h2>
<ul>
    <li>Cloud Workload Protection (Cloud Workload Assurance).</li>
</ul>

<a href="">View the full incident &rarr;</a>

<!-- Sub copy -->
<table class="body-sub" role="presentation">
  <tr>
    <td>
      <p class="sub">You received this email because you are subscribed to Broadcom's service status notifications. <a href="">Unsubscribe</a></p>
    </td>
  </tr>
</table>
